anthropic==0.72
matplotlib==3.8.4
nltk==3.9.4
numpy==1.26.4
openai==2.6.1
pandas==2.2.2
scikit_learn==1.5.1
scipy==1.13.1
seaborn==0.13.2
sentence_transformers==5.5.1
statsmodels==0.14.6
torch==2.3.0.post100
transformers==4.41.2
vaderSentiment==3.3.2
